@import "tailwindcss";
@theme {
  --color-primary: #0A74DA;
  --color-secondary: #6EC1E4;
  --color-accent: #E94E4E;
  --color-neutral: #F9FAFB;
  --color-dark: #333A45;
  --color-background: #264B8B;
  --color-ice: #f3f7fd;
  --color-btn: #5a6e85;
  --shadow-btn: 0 2px 4px rgba(0, 0, 0, 0.6), 0 4px 12px rgba(0, 0, 0, 0.4);
  --shadow-hover: 0 3px 6px rgba(0, 0, 0, 0.7), 0 6px 16px rgba(0, 0, 0, 0.5);
}